.main {
    width: 100%;
    display: flex;
    font-family: 'Source Code Pro', monospace;
}
.container {
    width: 50%;
    height:100%;
    background-color: #43A047;
    padding:15px;
}
.container2 {
    width: 50%;
    height:160vh;
    background-color: #1F5768;
    /* padding:15px; */
}

.container h2 {
    width: 100%;
    height:100%;
    color: white;
    float: left;
    text-transform: uppercase;
}
.container p {
    color: white;
}
.container p spam, ul li spam  {
    text-decoration: underline;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px;
}

ul {
    color:white;
}

ul li {
    padding-bottom: 10px;
}

.editor{
    width: 100%;
    /* height: 100%; */
    background-color: #e0e0e0;
    border-radius: 5px;
    /* padding: 5px; */
    display: inline-block;
}
.css {
    background-color: #999;
    float: left;
    padding: 8px;
}
.numbers {
    width:4%;
    height: 100%;
    text-align: right;
    background-color: #999;
    color: #D5D5D5;
}
input[type=text] {
    margin-left:30px;
    width:600px;
    height: 24px;
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}

#pond {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
}
input[type=submit] {
    padding:10px 15px 10px 15px;
    background-color: red;
    color:white;
    border-radius: 5px;
    opacity: 0.5;
}

.button {
    float: right;
    margin-right: 10px;
}
footer{
    font-size: 12px;
    text-align: center;
}
footer p a{
    color: white;
    text-decoration: underline;
    list-style-type: disc;
}
#ss {
    background-color: #999;
    padding: 5px;
    text-decoration: none;
}

.container2 img {
    margin: 20px;
    position: relative;
}

.lilypad{
    position: absolute;
    bottom: 180px;
    right: 40px;
}